@charset "utf-8";

* {
  line-height: 1.6;
  font-size: 100%;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-size: 13px;
  text-align: center;
  color: #272727;
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Arial, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}

p {
  line-height: 1.9;
  text-align: justify;
  text-justify: distribute;
}

p, ul, ol, dl, table, pre {
  font-size: 100%;
  letter-spacing: 0.02em;
}

img {
  border: 0;
  vertical-align: bottom;
}


#out a {
  text-decoration: none;
}

#out a:link {
  color: #337ED2;
  border-bottom: 1px solid #56AEE1;
}

#out a:visited {
  color: #56AEE1;
  border-bottom: 1px solid #56AEE1;
}

#out a:hover {
  color: #337ED2;
  border-bottom: 1px solid #337ED2;
}

#out {
  margin: 0 auto 10px auto;
  text-align: left;
  width: 700px;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: #FFFFFF;
}

#head {
  letter-spacing: 0.1em;
  text-align: left;
  margin: 0px auto 20px auto;
  padding: 30px;
  border-bottom: 1px solid #cccccc;
}

#menu {
  text-align: right;
  font-size: 87%;
  color: #CCCCCC;
}


h1 {
  font-size: 160%;
  font-weight: normal;
  margin: 0 0 5px 0;
  padding: 0;
}

h2 {
  font-size: 130%;
  font-weight: normal;
  margin: 2.5em 0 1em 0;
  padding: 0 0 0 10px;
  border-left: 3px solid #cccccc;
}

h3 {
  font-size: 130%;
  font-weight: normal;
  margin: 2.5em 0 1em 0;
  padding: 0 0 5px 10px;
  border-bottom: 1px solid #cccccc;
}

h4 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}


#main {
  letter-spacing: 0.1em;
  font-size: 110%;
  margin: 0 3em;
  line-height: 1.9;
}

#main ul {
  margin: 0 5px 5px 0;
  padding: 3px;
  list-style: circle;
}

#main li {
  margin: 0.5em 0 0.5em 1.5em;
  letter-spacing: 0.02em;
  padding: 0.3em 0 0.3em 0.1em;
}

#copyright1 {
  margin: 3em 0 0 0;
  padding: 2em 0;
  border-top: 1px solid #cccccc;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: #EBECED;
}


.copyright2 {
  font-size: 75%;
  margin: 0 0 0 0;
  padding: 5px 15px 10px 0;
  text-align: right;
  color: #888888;
  letter-spacing: 0.1em;
  background-color: #EBECED;
}

.copyright2 a:link,a:visited,a:hover {
  color: #888888;
  border-bottom: none;
  text-decoration: none;
}

<!-- Copyright (C) Net Mania. All Rights Reserved. http://www.netmania.jp/ -->
