@charset "utf-8";

body {
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

input {
  width: 96px;
}

div#Result {
  font-size: 20px;
}

div#Margin {
  height: 8px;
}

div#Menu {
  height: 32px;
}
