@charset "utf-8";

body {
  -webkit-text-size-adjust: 100%;
  background-color: #99ffcc;
}

td#TitleFrame {
  background-color: #6699ff;
}

span#TitleContent {
  color: #99ffcc;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

div#Menu {
  height: 64px;
}

div#Margin {
  height: 8px;
}
